
/* Logo */
.login-logo {
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin-bottom: 20px;     
}

.login-logo img {
  width: 250px; 
  height: auto; 
  transition: transform 0.3s ease;
}

/* Login wrapper */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff; 
}

.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 28px; 
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
}


/* Your email and password */
.login-inputs input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  margin-bottom: 10px;
}


/* Login button */
.btn {
  background-color: #1a1a1a;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

/* Create account/Login here */
.login-container p {
  text-align: center;
  font-size: 14px;
  color: #000000; 
}


.login-container p span {
  color: #000000;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline; 
  margin-left: 5px;          
  transition: all 0.3s ease;
}

.login-container p span:hover {
  color: #000;
  text-decoration-thickness: 2px;
}

/* Social login */
.social-login-separator {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: #888;
  font-size: 14px;
}

.social-login-separator hr {
  flex: 1;
  border: 0;
  border-top: 1px solid #ddd;
}

.social-login-separator span {
  padding: 0 10px;
}

.social-login-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.social-btn {
  background: white;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.social-btn:hover {
  background-color: #f9f9f9;
}

.social-btn img {
  width: 20px;
  height: 20px;
}

.custom-popup {
  position: fixed;
  bottom: 40px; 
  left: 50%;
  transform: translateX(-50%);
  background: rgba(30, 30, 30, 0.9);
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #444;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: slideUpInOut 3s ease-in-out forwards;
}

@keyframes slideUpInOut {
  0% { 
    opacity: 0; 
    bottom: -50px;
  }
  10% { 
    opacity: 1; 
    bottom: 30px;
  }
  90% { 
    opacity: 1; 
    bottom: 30px; 
  }
  100% { 
    opacity: 0; 
    bottom: -50px;
  }
}